/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */


/* Länkar */

a {
    text-decoration:none;
}

a:visited {
    color:#0000FF;
}

a:hover {
    color:#5A5AFF;
    text-decoration:underline;
}

/* Allmänt */

a, p, dt, dd, li, td, label {
    font:16px "Trebuchet MS";
}

p {
    margin: 8px 0;
}

/* Rubriker */
h1 {
    position:relative;
    top:50px;
    font:bold 24px Georgia;
}

h2 {
    font:bold 22px Georgia;
}

h3, legend {
    font:22px Georgia;
    line-height:2;
}

ol li {
    text-indent:20px;
}

dt {
    line-height:2;
}

dd {
    text-indent:30px;
    font-style:italic;
    margin-bottom:10px;
}

/* Tabeller */

td {
    padding:5px;
}

tbody td {
    border:1px solid black;
}

thead td {
    border:2px solid black;
}

tfoot td {
    font-style:italic;
}


/* Divar */


#wrapper {
    width:1000px;
    margin:0 auto;
}

#header {
    width:1000px;
    height:219px;
    text-align:center;
    text-transform:uppercase;
    background-image:url('pics/BadlyDrawnPigExtended.png');
}

#header h1 strong {
    font-size:34px;
}

#header p {
    position:relative;
    top:50px;
}

#leftNavigation {
    float:left;
    background-color:#7DFF68;
    height:100%;
    width:19%;
}

#leftNavigation ul li a{
    background-color:#7DFF68;
    text-indent:5px;
    line-height:2;
    display:block;
}

#leftNavigation ul li a:hover{
    background-color:#D1FF68;
}

#main {
    padding:10px;
    float:right;
    width:79%;
    background-color:#C7E8FF;
}

#footer {
    width:1000px;
    height:50px;
    text-align:center;
    vertical-align:bottom;
    float:left;
    background-color:#E8C053;
}

#footer p {
    position:relative;
    top:8px;
}

.blog-heading {
    background-image:url('pics/scroll.png'); /* This image is used with permission. The rights to this image belong to Everaldo Coelho - http://www.everaldo.com/ */
    background-repeat:no-repeat;
    background-position:left center;
    text-indent:28px;
}

.active {
    background-color:#D1FF68;
}

.signature {
    font-style:italic;
    margin:20px;
}

.right {
    float:right;
}

.left {
    float: left;
}

.image-border {
    border: 3px solid white;
}